
body{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}
.class{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.box{
    /* //background-color: red; */
    border: 1px solid black;
    min-width: 40vw;
    min-height: 65vh;
    padding: 20px;
    margin: 20vh;
    background-color: white;
}
h1{
    padding: 14px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 8000;
    font-style: normal; 
   
}
h2{
    text-align: center;
    color: brown;     
}
.row{
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 14px;
}
#submit{
    min-width: 100%;
    padding: 5px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
}
.center{
    color: purple;
    margin: 60px 40px;
    background-color: lightgreen;
}
.new{
    border: 1px solid black;
    min-width: 25vw;
    min-height: 25vh;
    padding: 20px;
    margin: 20vh;
    background-color: rgb(117, 28, 241);
}