<% layout('/layouts/boilerplate') -%>

    <body>
       
            <label class="mb-5 cursor-pointer flex flex-row justify-center gap-5 flex-wrap">
            <input type="checkbox" value="" id="tax" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">TAXES</span>
          </label>
       <br>
        <div class="flex flex-row justify-center gap-5 flex-wrap ">

              <br><br><br>
            <% for(a of all){ %>
                <a href="/listings/<%= a._id %>">
                    <div class="max-w-sm rounded-lg cardddd">

                        <img class="rounded-t-lg imggg hh" src="<%= a.image.url %>" alt="nt" />

                        <div class="p-5">

                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><b>
                                    <%= a.title %>
                                </b></h5>

                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>&#8377;<%= a.price %>/Night</b> <i class="info"> &nbsp;  &nbsp;  +18% GST</i></p>

                            
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
  
    </body>
    <script>
        let taxes = document.querySelector("#tax")
        taxes.addEventListener("click" , ()=>{
            let taxinfo = document.getElementsByClassName("info")
            
            for(info of taxinfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline" ;
                }
                else{
                    info.style.display = "none" ;
                }
//console.log(tax)
            }
        })
    </script>