<% layout('/layouts/boilerplate') -%>

    <body>
        <DIV class="mainn flex flex-row justify-center gap-5 flex-wrap">
 
              
<form class="flex items-center max-w-lg mx-auto"> 
    <label for="voice-search" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z"/>
            </svg>
        </div>
        <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Places..." required />
  
    </div>
    <button type="submit" class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>Search
    </button>
</form>

        </DIV>
        <br>
        <label class="mb-5 cursor-pointer flex flex-row justify-center gap-5 flex-wrap">
            <input type="checkbox" value="" id="tax" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">TAXES</span>
          </label>
       <br>
        <div class="flex flex-row justify-center gap-5 flex-wrap">

              <br><br><br>
            <% for(a of all){ %>
                <a href="http://localhost:8080/listings/<%= a._id %>">
                    <div class="max-w-sm rounded-lg cardddd">

                        <img class="rounded-t-lg imggg hh" src="<%= a.image.url %>" alt="nt" />

                        <div class="p-5">

                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><b>
                                    <%= a.title %>
                                </b></h5>

                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>&#8377;<%= a.price %>/Night</b> <i class="info"> &nbsp;  &nbsp;  +18% GST</i></p>

                            
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>
    <script>
        let taxes = document.querySelector("#tax")
        taxes.addEventListener("click" , ()=>{
            let taxinfo = document.getElementsByClassName("info")
            
            for(info of taxinfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline" ;
                }
                else{
                    info.style.display = "none" ;
                }
//console.log(tax)
            }
        })
    </script>